<div class="container">

  <!-- left side navigation -->
  <div class="lnb">
    <h1><span>Keeping Admin</span></h1>

    <!-- Top Navigation Buttons -->
    <div class="hamburger spin">
      <div class="box">
<!--         <div class="bar"></div>-->
      </div>
    </div>

    <!-- left side Navigation items -->
    <ul>
      <ng-container *ngFor="let menu of menus">
        <li>
          <a [routerLink]="[menu.path]">
            <span>{{menu.title}}</span>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>

  <!-- header buttons -->
  <div class="contents">

    <div class="header">
      <div class="date">
        <span class="year">
          {{today | date: 'yyyy-MM-dd'}}
        </span>
        <span id="day"
              class="day">
          {{weekDay}}
        </span>
      </div>
      <div class="utility">
        <span>
          <mark>{{userName.charAt(0)}}</mark>
          <em>{{userName}}</em>
        </span>
        <button type="button"
                (click)="logout()">
          <span>로그아웃</span>
        </button>
      </div>
    </div>

    <div class="page">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
