<h2>사용자 관리</h2>

<table mat-table
       [dataSource]="dataSource"
       matSort
       class="tbl tac">

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="cp"
      [ngClass]="row.id === (chooseUsers !== undefined ? chooseUsers.id : '') ? 'selected' : ''"
      (click)="chooseUser(row)"
  ></tr>

  <ng-container matColumnDef="id">
    <th *matHeaderCellDef>ID</th>
    <td *matCellDef="let element"
        class="sub font-ellipsis tac">{{element.id}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th *matHeaderCellDef>이름</th>
    <td *matCellDef="let element"
        class="sub font-ellipsis tac">
      {{element.name}}
    </td>
  </ng-container>

  <ng-container matColumnDef="nickname">
    <th *matHeaderCellDef>닉네임</th>
    <td *matCellDef="let element"
        class="sub font-ellipsis tac">
      {{element.nickname}}
    </td>
  </ng-container>

  <ng-container matColumnDef="birthDate">
    <th *matHeaderCellDef>생일</th>
    <td *matCellDef="let element"
        class="sub font-ellipsis tac">
      {{element.birth_date}}
    </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th *matHeaderCellDef>이메일</th>
    <td *matCellDef="let element"
        class="sub font-ellipsis tac">
      {{element.email}}
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th class="w120px" *matHeaderCellDef>수정</th>
    <td *matCellDef="let element">
      <button type="button" class="btn btn-update"
              (click)="waitingMessage()">수정</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="view">
    <th class="w120px" *matHeaderCellDef>자세히</th>
    <td *matCellDef="let element" class="w100px">
      <button type="button" class="btn btn-update"
              (click)="waitingMessage()">자세히</button>
    </td>
  </ng-container>
</table>

<!--<mat-paginator [pageIndex]="page"-->
<!--               [pageSize]="10"-->
<!--               [length]="totalElements"-->
<!--               [pageSizeOptions]="[3, 10, 20, 50]"-->
<!--               (page)="handlePageEvent($event)">-->
<!--</mat-paginator>-->

<div class="btn-group tar">
  <div class="di">
    <button type="button"
            class="btn btn-write"
            (click)="waitingMessage()">자세히</button>
  </div>
</div>
