<div id="login">
  <div class="login">

    <form novalidate [formGroup]="loginForm">
      <h1 class="mb10">
        <mark>Keeping</mark>
        Admin
      </h1>

      <!-- Login Id -->
      <div class="field log id">
        <input type="text"
               id="userId"
               name="userId"
               placeholder="User ID"
               formControlName="userId">
      </div>

      <!-- Login Password -->
      <div class="field log password">
        <input type="password"
               id="password"
               name="password"
               placeholder="Password"
               formControlName="password">
      </div>

      <!-- Save Id -->
      <div class="field chk">
        <input type="checkbox" id="saveId">
        <label for="saveId">아이디 저장</label>
      </div>

      <!-- Login Btn -->
      <button type="submit"
              class="sign"
              (click)="login()"
              [disabled]="!loginForm.valid">Sign in</button>
    </form>
  </div>
</div>
