#login {
  width: 100%;
  height: 100vh;
  background: #ebedef;

  .login {
    position: absolute;
    width: 100%;
    max-width: 530px;
    padding: 50px 100px;
    left: 50%;
    top: 50%;
    margin-left: -265px;
    margin-top: -265px;
    border-radius: 20px;
    background: #fff;
    text-align: center;
    box-sizing: border-box;

    &::before {
      display: inline-block;
      width: 100%;
      left: 0;
      bottom: -30px;
      content: 'Copyright © By Flexible. All rights reserved';
      font-size: 12px;
      color: #b3b3b3;
      font-family: 'Open Sans', sans-serif;
      letter-spacing: 0;
    }

    h1 {
      font-size: 30px;
      font-family: 'Montserrat', sans-serif;
      color: #47423e;
      letter-spacing: 0;

      mark {
        margin-right: 10px;
        color: #e82324;
        font-family: 'Montserrat', sans-serif;
      }
    }

    sub {
      display: block;
      margin-bottom: 30px;
      font-size: 14px;
      font-weight: 300;
      color: #8b8b8b;

      em {
        color: #6d6d6d;
        font-weight: 400;
      }
    }

    .field {

      &.log {
        position: relative;
        height: 50px;
        padding-left: 50px;
        border-radius: 50px;
        box-sizing: border-box;
        background: #f6fafd;
        border: 1px solid #d4d7d9;
        text-align: left;

        &::before {
          display: inline-block;
          width: 50px;
          height: 100%;
          left: 0;
          top: 0;
          background-repeat: no-repeat;
          background-position: center;
        }

        &.id {
          margin-bottom: 18px;
        }

        &.id::before {
          background-image: url(../../assets/img/common/icon_usr.png);
        }

        &.password::before {
          background-image: url(../../assets/img/common/icon_lock.png);
        }

        input[type="text"],
        input[type="password"] {
          height: 50px;

          &::placeholder {
            font-size: 14px;
            color: #a6a6a6;
            font-family: 'Open Sans', sans-serif;
          }
        }
      }

      &.chk {
        margin: 25px 0;
        text-align: left;

        input {
          display: none;
        }

        input + label {
          position: relative;
          padding-left: 30px;
          font-size: 14px;
          color: #818181;
          cursor: pointer;
          line-height: 20px;
        }

        input + label::before {
          display: inline-block;
          width: 20px;
          height: 20px;
          left: 0;
          top: 0;
          border: 1px solid #d1d4d6;
          border-radius: 2px;
          box-sizing: border-box;
        }

        input:checked + label::before {
          border: 1px solid #2d4acb;
          background: url(../../assets/img/common/icon_chk.png) no-repeat center;
        }
      }
    }

    button.sign {
      display: block;
      width: 100%;
      height: 50px;
      border-radius: 50px;
      color: #fff;
      background: #2d4acb;
      font-size: 17px;
      font-family: 'Montserrat', sans-serif;

      &:disabled {
        opacity: 0.25;
        cursor: initial;
      }
    }
  }
}
