@mixin transform($transforms) {
    -moz-transform: $transforms;
      -o-transform: $transforms;
     -ms-transform: $transforms;
 -webkit-transform: $transforms;
         transform: $transforms;
}

@mixin transition($transition) {
    -moz-transition: all $transition ease;
      -o-transition: all $transition ease;
     -ms-transition: all $transition ease;
 -webkit-transition: all $transition ease;
         transition: all $transition ease;
}




@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}

@mixin plm {
    position:absolute; left:0; top:50%; @include transform(translate(0, -50%));
}

@mixin prm {
    position:absolute; right:0; top:50%; @include transform(translate(0, -50%));
}

@mixin pcm {
  position:absolute; left:50%; top:50%; @include transform(translate(-50%, -50%));
}

@mixin pcb {
  position:absolute; left:50%; bottom:0; @include transform(translate(-50%, 0));
}

@mixin pct {
  position:absolute; left:50%; top:0; @include transform(translate(-50%, 0));
}

@mixin pc {
  position:absolute; left:50%; top:0; @include transform(translate(-50%, 0));
}

@mixin reset {
  position:absolute; left:0; top:0; @include transform(translate(0, 0));
}





@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

