@import "./assets/css/common/style.reset.css";
@import "./assets/css/common/style.common.css";
@import "./assets/css/common/style.fonts.css";
@import "./assets/css/common/style.animate.css";
@import "./assets/mixin.scss";

body {
  min-width: 1280px;
  letter-spacing: -0.5px;
}

body * {
  font-family: 'Noto Sans KR', sans-serif;
}


#wrap {
  overflow: hidden;
}


.inner {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: inherit;
  margin: 0 auto;
}

.full {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: inherit;
  margin: 0 auto;
}


.header {
  height: 70px;
  line-height: 70px;
  padding: 0 50px;
  box-sizing: border-box;
  background: #fff;
  border-bottom: 1px solid #e2e3e9;
  white-space: nowrap;

  .date,
  .utility {
    float: left;
    width: 50%;
  }

  .date {

    span {
      display: inline-block;
      line-height: 1;
      font-size: 14px;
      color: #808080;
      font-family: '맑은고딕';
    }

    span.year {
      margin-right: 15px;
      padding-left: 25px;
      background: url(/assets/img/common/icon_schedule.png) no-repeat left center;
    }

    span.day {
    }
  }

  .utility {
    text-align: right;

    > span {
      position: relative;
      display: inline-block;
      padding-left: 37px;
      line-height: 1;
      font-size: 14px;
      letter-spacing: -0.3px;

      em {
        color: #0065b3;
        font-weight: 500;
      }

      mark {
        position: absolute;
        width: 32px;
        height: 32px;
        line-height: 28px;
        border-radius: 32px;
        left: 0;
        top: -8px;
        background: #4cb1e6;
        color: #fff;
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        font-family: '맑은고딕';
      }
    }

    button {
      height: 32px;
      margin-left: 25px;
      padding: 0 20px;
      border-radius: 32px;
      border: 1px solid #d0d2d3;
      box-sizing: border-box;
      font-size: 13px;
      font-family: '맑은고딕';
      text-align: center;
      vertical-align: 0;

      /* logout-button */
      span {
        padding-left: 25px;
        background: url(/assets/img/common/icon_logout.png) no-repeat left center;
      }
    }
  }
}


.container {
  position: relative;
  width: 100%;
  min-height: 100vh;

  &::before {
    position: fixed;
    display: inline-block;
    width: 220px;
    height: 100%;
    left: 0;
    top: 0;
    background: #171c46;
  }

  .lnb,
  .contents {
    float: left;
    min-height: 100vh;
  }

  .lnb {
    position: relative;
    width: 220px;

    h1 {
      height: 70px;
      line-height: 70px;
      padding: 0 30px;
      border-bottom: 1px solid #000;
      box-sizing: border-box;
      font-size: 18px;
      color: #fff;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif;

      span {
        display: inline-block;
        line-height: 1;
      }
    }

    ul {
      margin-top: 50px;

      li {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          position: relative;
          display: block;
          height: 40px;
          line-height: 40px;
          padding: 0 30px 0 45px;
          font-size: 15px;
          color: #b5b7ca;

          &::before {
            display: inline-block;
            width: 0;
            height: 0;
            left: 30px;
            top: 15px;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid #70768d;
            z-index: 1;
          }

          &::after {
            display: inline-block;
            width: 230px;
            height: 100%;
            border-radius: 42px;
            left: 20px;
            top: 0;
            background: rgba(32, 65, 205, 0.9);
            opacity: 0;
            @include transition(0.35s);
          }

          span {
            position: relative;
            display: inline-block;
            line-height: 1;
            z-index: 2;
          }
        }

        &:hover {
          a {
            color: #fff;
          }

          a::before {
            border-left: 5px solid #fff;
          }

          a::after {
            opacity: 1;
            left: 10px;
          }
        }

        &.active {

          a {
            color: #fff;

            &::before {
              border-left: 5px solid #fff;
            }

            &::after {
              opacity: 1;
              left: 10px;
            }
          }
        }
      }
    }
  }

  .contents {
    width: calc(100% - 220px);
    background: #f7f8fc;

    .page {
      margin: 25px;
      padding: 50px 25px;
      background: #fff;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);
      border: 1px solid #e2e3e9;


      h2 {
        margin-bottom: 45px;
        font-size: 30px;
        color: #3a3b45;
        font-weight: 700;
      }
    }

  }
}


// 토글 버튼
.hamburger {
  position: absolute;
  right: 25px;
  top: 22px;
  width: 25px;
  height: 20px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  z-index: 10;
  cursor: pointer;

  .bar, .bar::before, .bar::after {
    position: relative;
    display: inline-block;
    line-height: 1;
    width: 32px;
    height: 2px;
    border-radius: 2px;
    margin: 0 auto;
    background-color: #fff;
  }

  .bar {
  }

  .bar::before, .bar::after {
    position: absolute;
    left: 0;
  }

  .bar::before {
    top: -10px;
  }

  .bar::after {
    width: 20px;
    top: 10px;
  }

  &.spin .bar {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::before {
      transition: top 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    &::after {
      transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    }
  }

  &.spin.active .bar {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

    &::before {
      top: 0;
      transform: rotate(-90deg);
      transition: top 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &::after {
      top: 0;
      transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
    }
  }

}


.condition {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin-bottom: 20px;

  input,
  button,
  select {
    float: left;
    box-sizing: border-box;
    height: 36px;
    border: 1px solid #c7cfd2;
    padding: 0 15px;
    margin-right: 5px;
    border-radius: 4px;
    background: #fff;
  }

  input::placeholder {
    font-size: 13px;
    color: #a1a5a8;
    font-weight: 300;
  }

  .select-wrapper {
    position: relative;
    float: left;
    margin-right: 5px;

    &::before {
      display: inline-block;
      width: 7px;
      height: 7px;
      right: 15px;
      top: 13px;
      box-sizing: border-box;
      border-top: 1px solid #52525f;
      border-right: 1px solid #52525f;
      transform: rotate(135deg);
    }

    select {
      margin-right: 0;
      padding: 0 55px 0 15px;
      cursor: pointer;
    }
  }


  button.search {
    background: #535d65;
    color: #fff;
    border: 1px solid #485158;

    span {
      padding-left: 25px;
      background: url(/assets/img/common/icon_search.png) no-repeat left center;
    }
  }
}


.tbl {
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #dde0e2;
  table-layout: fixed;

  th,
  td {
    height: 62px;
    box-sizing: border-box;
    border-bottom: 1px solid #e0e2e4;
    vertical-align: middle;
  }

  tr:last-child td {
    border-bottom: 0;
  }

  thead {
    th {
      font-size: 14px;
      color: #373737;
      background: #f2f7f8;
      font-weight: 700;
    }
  }

  td {
    padding: 0 15px;
    font-weight: 300;
    color: #777;
    white-space: nowrap;

    a {
      display: block;
      color: #777;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    input,
    select,
    textarea {
      box-sizing: border-box;
      height: 36px;
      border: 1px solid #c7cfd2;
      padding: 0 15px;
      margin-right: 5px;
      border-radius: 4px;
      background: #fff;
    }

    .select-wrapper {
      position: relative;
      display: inline-block;
      margin-right: 5px;

      &::before {
        display: inline-block;
        width: 7px;
        height: 7px;
        right: 15px;
        top: 13px;
        box-sizing: border-box;
        border-top: 1px solid #52525f;
        border-right: 1px solid #52525f;
        transform: rotate(135deg);
      }

      select {
        margin-right: 0;
        padding: 0 55px 0 15px;
        cursor: pointer;
      }
    }

    span.txt {
      margin-right: 5px;
      padding: 0 5px;
    }

    span.txt + input[type="text"] {
      width: 100px;
    }

    textarea {
      width: 100%;
      margin: 15px 0;
      height: 200px;
      padding: 15px;
    }


    button {
      display: inline-block;
      height: 30px;
      padding: 0 15px;
      border-radius: 2px;
      background: #eee;
    }
  }

  .chk {
    display: inline-block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    input {
      display: none;
    }

    input + label {
      cursor: pointer;
    }

    input + label::before {
      position: relative;
      display: inline-block;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      background-color: #fff;
      border: 1px solid #707070;
      vertical-align: middle;
    }

    input:checked + label::before {
      background: #fff url(/assets/img/common/icon_chk.png) no-repeat center;
    }

    input[type="radio"] + label::before {
      border-radius: 18px;
    }

    &.text input + label::before {
      margin-right: 5px;
    }
  }


  .state {
    height: 30px;
    border-radius: 30px;
    padding: 0 15px;
    background: #e9eff0;
    color: #245c84;
    font-size: 12px;
  }


  tbody {

    tr:hover td {
      background: #f0f0f0;
    }

    th {
      font-size: 14px;
      color: #373737;
      background: #f2f7f8;
      font-weight: 700;
      border-right: 1px solid #e0e2e4;
    }

    tr.selected {
      background: #f5f5f5;
      td {
        color: #3236c3;
        font-weight: bold;
      }
    }
  }


}


.btn-group {
  margin-top: 20px;

  button {
    float: left;
    margin-right: 5px;
    padding: 0 15px;
    height: 40px;
    background: #ddd;
    border: 1px solid #aaa;
    border-radius: 3px;
    font-size: 15px;

    &:last-child {
      margin-right: 0;
    }

    &.btn-write {
      background: #e11838;
      border: 1px solid #cb122f;
      color: #fff;
    }

    &.btn-update {
      background: #4cb1e6;
      border: 1px solid #4cb1e6;
      color: #fff;
    }

    &.btn-delete {
      background: #e64c4c;
      border: 1px solid #e64c4c;
      color: #fff;
    }
  }
}


.container .field {
  position: relative;
  min-height: 35px;
  padding: 10px 25px 10px 175px;
  border-bottom: 1px solid #eee;
  font-size: 15px;
  line-height: 35px;
}

.container .field > label {
  position: absolute;
  width: 150px;
  left: 25px;
  top: 10px;
  height: 35px;
  line-height: 35px;
  font-weight: 700;
}

.container .field input[type="text"] {
  display: block;
  width: 500px;
  height: 35px;
  line-height: 35px;
  box-sizing: border-box;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.container .field input[data-type="제목"] {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  box-sizing: border-box;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.container .field input[data-type="이메일"] {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  box-sizing: border-box;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.container .field input[data-type="연락처"] {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  box-sizing: border-box;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.container .field input[data-type="성명"] {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  box-sizing: border-box;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.container .field input[data-type="작성일"] {
  display: inline-block;
  width: 105px;
  height: 35px;
  background: #f3f3f3;
  line-height: 35px;
  box-sizing: border-box;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.container .field input[data-type="언어"] {
  display: block;
  width: 200px;
  height: 35px;
  line-height: 35px;
  box-sizing: border-box;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.container .field textarea {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #eee;
  box-sizing: border-box;
}


.container .reply {
  padding: 10px;
}

.container .reply textarea {
  display: block;
  width: 100%;
  min-height: 250px;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.container .field span.chk input[type="radio"],
.container .field span.chk input[type="checkbox"] {
  display: none;
}

.container .field span.chk label {
  position: relative;
  padding-left: 30px;
  padding-right: 25px;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
}

.container .field span.chk label::before {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  left: 0;
  top: 6px;
  border: 1px solid #aaa;
  cursor: pointer;
}

.container .field span.chk input[type="checkbox"]:checked + label::before,
.container .field span.chk input[type="radio"]:checked + label::before {
  border: 0;
  background: #7c8be8 url(/assets/img/common/check_bg.png) no-repeat center;
  background-size: 10px;
}


//html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.contents-area {
  b, strong {
    font-weight: 700;
  }

  i {
    font-style: italic;
  }
}
