<div id="test">test</div>

<div class="test-container" id="test-container">
  <ng-container *ngFor="let item of list">
    <div>{{item.id}}</div>
  </ng-container>
</div>

<button type="button" (click)="addData()">데이터 삽입</button>
